main {
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-bottom: 50px;
}

.title {
  text-align: center;
}
.showcase {
  display: flex;
  flex-direction: row;
}

.wrapper {
  flex: 0.5;
  height: 100vh;
}
.swirl {
  height: auto;
  width: 130%;
}
.content {
  flex: 0.5;
}
a {
  display: inline-block;
  background: #b100f2;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
}

ul {
  text-align: center;
  margin: auto;
  width: 200px;
  height: 100vh;
  margin-top: 10px;
}

li {
  width: 200px;
  text-align: center;
  background: greenyellow;
  padding: 10px;
  border: 1px solid gray;
}

#line{
  height: 2px;
  width: 100%;
  background:purple;
}

.logo{
  
}